body {
	font-family: helvetica;
	color: white;
	background-image: url(wl2.jpg);
}


.logo {
	width: 75px;
	margin-top: 20px; 
}


ul {
	list-style-type: none;
	text-decoration: none;
	padding: 20px; 
}

a {
    color: white;
    text-decoration: none;
    padding-right: 6px;
    font-size: 10pt;
}

li {
	display: inline-block;
}

h1 {
	text-align: left;
	padding: 20px;
	margin: 10px 0px;
	letter-spacing: 5px;
}

.main-content {
	text-align: center;
}


.content1 { 
	width: 80%;
	text-align: justify;
}
	

#wwf {
	width: 15%;
	border: solid;
	margin: 20px 30px;
}
.content1 { 
	width: 80%
	margin: 0 auto;
	text-align: center;


 }
 .col1 {
 	float: left;
 	width: 30%;
 	padding: 10px;
 	text-align: justify;
 	border: solid white;
 }

 .col2 {
 	width: 30%;
 	float: left;
 	padding: 10px;
 	text-align: justify;
 	border: solid white;
 }
.pic {
	float: right;
	margin-top: 20px;
	padding: 15px;
}

header {
	text-align: center;
}

.pic {
	border: solid;
	margin-top: 40px;

}
