body {
	font-family: helvetica;
}

.logo {
	width: 75px;
	padding-left: 590px;
	margin-top: 20px; 
}

#wwf {
	width: 20%;
	float: right;
	border: solid;
	margin: 20px 80px;
}
ul {
	list-style-type: none;
	text-decoration: none;
	margin: 10px 500px;
	padding: 20px;
}

a {
    color: black;
    text-decoration: none;
    padding-right: 6px;
    font-size: 10pt;
}

li {
	display: inline-block;
}

h1 {
	text-align: left;
	padding: 20px;
	margin: 10px 50px;
}

.main-content {
	position: fixed;
}

.content { 
	width: 80%
	margin: 0 auto;

 }
 .col1 {
 	float: left;
 	width: 50%;
 }

 .col2 {
 	float: 
 }